html, body, .app {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.navbar {
	background: #4e4e4e;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.5rem 1rem;
}

.navbar a {
	color: inherit;
	text-decoration: none;
}

.navSegment a {
	margin: 0 0.5rem;
}
